/* Ensure the layout container takes up the full height of the viewport */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.content {
  margin-top: 80px; /* Adjust this value to match the height of your NavBar */
  flex: 1; /* This makes the content area grow to fill the available space */
  min-height: 80vh; /* Full viewport height */
}
